@model MusicDB.Models.Genre

@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}

<div class="panel-name col-md-8 ms-sm-auto col-lg-9 col-xl-10 bg-dark border-bottom border-primary mx-0 pt-3 pb-2 px-3 mb-3">
    <h5 class="text-gray">Gatunki</h5>
</div>

<div class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 mt-1 barlow">
    <div class="row px-3 pb-3">
        <div class="col-lg-6 col-12 m-0 p-3">
            <div class="bg-dark text-gray p-4">
                <p class="sidebar-heading m-0 pt-0 px-2 pb-3">dodaj</p>
                @using (Html.BeginForm("AddGenre", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <form>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
                        <div class="mb-3">
                            <label for="inputName2" class="form-label">Nazwa</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-style" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                        </div>
                        <button type="submit" value="AddGenre" class="btn btn-primary">Dodaj</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>